.menu__button{
  position: absolute;
  top: 49px;
  right: 31px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  fill: #FFFFFF;
  cursor: pointer;
  z-index: 2;
  &--open{
    position: fixed;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-icon--color{
  fill: #FFFFFF;
  transition: color 250ms $transition;
}
.menu__icon-menu{
  display: block;
.menu__button--open &{
  display: none;
  }
}
.menu__icon-cross{
  display: none;
.menu__button--open &{
  display: block;  
  fill: black
  }
}
.navbar{ 
    @media screen and (max-width: 768px) {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      // width: 480px;
      height: 100vh;
      padding: 48px 40px;
      overflow-y: scroll;
  
      background: #FFFFFF;
      z-index: 1;
      transition: all 0.3s $transition;
        &--open{
          display: flex;
          flex-direction: column;
        }
      }
      @media screen and (min-width: 768px) {
        position: absolute;
        top: 0;
        left: 155px;

        display: flex;
        justify-content: space-between;

        width: calc(100% - 155px);

        padding-top: 52px;
      }
}

.nav-holder{
    display: flex;
    // align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-left: 40px;
    }
    @media screen and (min-width: 768px) {
      width: 100%;
      padding: 0 24px;
      height: 56px;
    }
}
.logo-img{
  position: absolute;
  width: 68px;
  height: 56px;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    top: 40px;
    left: 31px;

    margin: 0;
    padding: 0;
  
    border: none;
    fill: #FFFFFF;
  }
    @media screen and (min-width: 768px) {
      top: 32px;
      left: 55px;

      fill: rgba(48, 48, 48, 1);
      }

}
.site-nav__list{
    display: flex;
    @media screen and (max-width: 768px) {
      margin-top: 70px;
      flex-direction: column;
      }
}
.site-nav__item:not(:last-child){
  @media screen and (max-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}
.site-nav__link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    transition: color 250ms $transition;
    &:focus, &:hover{
        color: #FF6C00;
    }
    @media screen and (max-width: 768px) {
      color: black;
      font-size: 18px;
      }
}
.auth-nav__list{
    display: flex;
    @media screen and (min-width: 320px) {
      margin-top: 64px;
      flex-direction: column;
      }
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        margin-left: auto;
        margin-top: -20px;
        justify-content: center;
        &:first-child{
          margin-top: 20px;
        }
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin-top: 0;
        }
}
.auth-nav__link{

    color: #FFFFFF;

    transition: color 250ms $transition;
    &:focus, &:hover{
        color: #FF6C00;
    }
    @media screen and (max-width: 768px) {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.38;
      letter-spacing: 0.1em;
      
      color: #303030;
      }

      @media screen and (min-width: 768px) {
        text-align: center;
        &:not(:last-child){
          margin-top: 20px
        }
      }
      @media screen and (min-width: 1200px) {
        text-align: center;
        &:not(:last-child){
          margin-top: 0;
          margin-right: 40px;
        }
      }
}
.auth-nav__btn{
    @extend %button;
    @media screen and (max-width: 768px) {
      width: 194px;
      margin-top: 24px;

      font-weight: 600;
      font-size: 12px;
      line-height: 1.3;
      letter-spacing: 0.09em;
      text-align: center;
      
      color: #303030;
      &:focus, &:hover{
        color: white;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    width: 160px;
    height: 40px;
  }
}

.network__list{
  display: inline-flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-top: 74px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.network__link{
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: $title-text-color;

  transition: color 250ms $transition;
  &:focus, &:hover{
      color: #FF6C00;
  }
  &:not(:last-child){
    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
  &:first-child::before{
    content: "";
    vertical-align: middle;
    width: 60px;
    height: 1px;
    margin-right: 40px;
    display: inline-block;
    background: #303030;
}
  &:last-child{
    padding-left: 100px;
  }
}